
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bulma
//@import "~bulma/bulma.sass"
//@import '~font-awesome/scss/font-awesome.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.file-cta {
 position: relative;
 display: inline;
 left: 400px;
 top: -20px;
}
.file-name {
  position: relative;
  left: 450px;
  top: -20px;
}

.delete-file{
	position: relative;
	float: right;
}


.btn{
		position: relative;
		margin-bottom: 20px;
	}

.jumbotron{
	width: 61%;
	margin: auto;
}

.form-control{
	width: 48% !important;
}

img{
	padding-left: 50px;
	padding: 30px;
}

video {
	height: 200px;
	width:  200px;
}




